.spp_post_wrapper p.aligncenter {
    text-align:center;
}
.spp_post_wrapper p.alignleft,
.spp_post_wrapper p.alignnone {
    text-align:left;
}
.spp_post_wrapper p.alignright {
    text-align:right;
}

.spp_post_wrapper p.aligncenter.spp_imp {
    text-align:center !important;
}
.spp_post_wrapper p.alignleft.spp_imp,
.spp_post_wrapper p.alignnone.spp_imp {
    text-align:left !important;
}
.spp_post_wrapper p.alignright.spp_imp {
    text-align:right !important;
}

.spp_post_wrapper .spp_img_wrapper {
    position: relative;
    display: inline-block;
}

.spp_post_wrapper .spp_img_wrapper img,
.spp_post_wrapper .spp_img_wrapper a img {
    margin:0;
    padding:0;
}

/* Hide button when onhover only is set */
.spp_post_wrapper .spp_img_wrapper.onhover .spp_button_wrapper {
    display: none;
}
/* trigger showing on hover action */
.spp_post_wrapper .spp_img_wrapper.onhover:hover .spp_button_wrapper {
    display: block;
}


.spp_post_wrapper .spp_img_wrapper .spp_button_wrapper a {
    text-decoration: none;
    border-width: 0;
}

/* Default positioning */
.spp_post_wrapper .spp_img_wrapper .spp_button_wrapper {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Customize for no count (default) */
.spp_post_wrapper .spp_img_wrapper.northwest .spp_button_wrapper {
    top: 5px;
    left: 5px;
    right: inherit;
}
.spp_post_wrapper .spp_img_wrapper.southwest .spp_button_wrapper {
    bottom: 5px;
    left: 5px;
    right: inherit;
    top: inherit;
}
.spp_post_wrapper .spp_img_wrapper.southeast .spp_button_wrapper {
    bottom: 5px;
    right: 5px;
    top: inherit;
}

/* Default positioning for count above image */
.spp_post_wrapper .spp_img_wrapper.count_above.northeast .spp_button_wrapper,
.spp_post_wrapper .spp_img_wrapper.count_above.northwest .spp_button_wrapper {
    top: 35px;
}

/* Default positioning for count above LARGE image */
.spp_post_wrapper .spp_img_wrapper.large.count_above.northeast .spp_button_wrapper,
.spp_post_wrapper .spp_img_wrapper.large.count_above.northwest .spp_button_wrapper {
    top: 45px;
}

/* Default positioning for count beside image */
.spp_post_wrapper .spp_img_wrapper.count_beside.northeast .spp_button_wrapper,
.spp_post_wrapper .spp_img_wrapper.count_beside.southeast .spp_button_wrapper {
    right: 55px;
}
/* Default positioning for count beside LARGE image */
.spp_post_wrapper .spp_img_wrapper.large.count_beside.northeast .spp_button_wrapper,
.spp_post_wrapper .spp_img_wrapper.large.count_beside.southeast .spp_button_wrapper {
    right: 65px;
}
